/*------------ GERAL ------------*/
body {
	font-family: 'Poppins', sans-serif;
	line-height: 25px;
}

:root {
	--pink: #FF2D55;
	--white: #ffffff;
	--blue: #007bff;
	--orange: #ff3b30;
}

section {
	padding-top: 70px;
}

.header-section {
	text-align: center;
}

.title {
	color: var(--pink);
	font-size: 2.2rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.subtitulo {
	font-size: 0.85rem;
}

.c-w {
	color: var(--white);
}

.c-p{
  color: var(--pink);
}

/*------------ HEADER ------------*/
.navbar-light .navbar-brand {
	font-weight: bold;
	color: var(--pink);
}

.topo {
	background-color: #fff;
	;
	box-shadow: 2px 2px 2px 2px rgba(149, 149, 150, 0.096);
}

.navbar-brand{
  font-size: 1.3rem;
}

nav li {
	font-size: 0.8125rem;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
  margin-left: 30px;
}

.navbar-light .navbar-nav .nav-link{
  color: #000;
}

.banner {
	display: inline-block;
}

.carousel-caption {
	margin-bottom: 200px;
}

.carousel-caption h5 {
	font-size: 4.375rem;
  text-transform: uppercase;
  font-weight: bold;
}


/*------------ EVENTOS ------------*/
.bg-blue {
	background-color: var(--blue);
}

#eventos {
	position: relative;
	margin-top: -150px;
}

#eventos h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

#eventos p {
	font-size: 0.92rem;
	line-height: 26px;
	color: #595959;
}

.feature-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	margin-bottom: 1rem;
	font-size: 1.8rem;
	color: #fff;
	border-radius: 0.75rem;
}

.block-eventos {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 2px 2px 5px rgba(214, 214, 214, 0.5);
}


/*------------ VIDEO ------------*/
#video,
#oradores {
	background-color: #000;
	color: var(--white);
	padding: 90px 0;
}


/*------------ AGENDA ------------*/
#agenda {
	height: 100%;
	margin-bottom: 150px;
}

.accordion-button:not(.collapsed) {
	color: var(--white);
	background-color: #007bff;
	box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed)::after {
	background-image: url("/assets/images/seta-cima.svg");
	transform: rotate(-180deg);
}


/*------------ ORADORES ------------*/
#oradores h3 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}


/*------------ CONTATO ------------*/
label {
	color: #000;
}

#floatingName {
	margin-bottom: 30px;
}

#floatingTextarea2 {
	margin-bottom: 20px;
}


/*--------- FOOTER ---------*/
footer {
	background-color: #000;
	margin-top: 8.125rem;
	height: 80px;
	padding: 20px 0;
}

li {
	list-style: none;
}

.redes-sociais {
	margin-bottom: 1rem;
}

.copy{
	font-size: 0.8125rem;
	color: #808080;
  justify-content: flex-end;
}


/*----------------- 1440px -----------------*/
@media only screen and (max-width: 1440px) {
  /*------------ HEADER ------------*/
	.carousel-caption {
		margin-bottom: 170px;
	}

  /*--------- FOOTER ---------*/
  footer {
    margin-top: 4.125rem;
  }
}

/*----------------- 1200px -----------------*/
@media only screen and (max-width: 1024px) {
	.carousel-caption {
		margin-bottom: 70px;
	}

  .carousel-caption h5 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

	#eventos {
		position: relative;
		margin-top: 30px;
	}

  /*--------- FOOTER ---------*/
  footer {
    margin-top: 4.125rem;
  }
}


/*----------------- 768px -----------------*/
@media only screen and (max-width: 768px) {
	.carousel-caption {
		margin-bottom: 0px;
	}

  .carousel-caption h5 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  /*--------- AGENDA ---------*/
  #agenda {
    height: 600px;
    margin-bottom: 150px;
  }
  
/*--------- ORADORES ---------*/
  #oradores .col-lg-3{
    margin-bottom: 20px;
  }

  /*--------- FOOTER ---------*/
  footer{
    height: 100%;
    flex-direction: column;
    font-size: 0.3rem;
    text-align: center;
  }

  #footer ul, #footer p{
    justify-content: center;
  }

  .copy{
    font-size: 0.8125rem;
    color: #808080;
    justify-content: center;
  }
  
}


/*----------------- 425px -----------------*/
@media only screen and (max-width: 425px) {
  p,
  .accordion-body,
  label{
    font-size: 0.95rem;
  }

    .banner {
      margin-top: 55px;
    }

    .title {
      font-size: 2rem;
    }

	 .feature{
		 margin: 0 20px;
	 }
  /*--------- AGENDA ---------*/
  #agenda {
    height: 100%;
    margin-bottom: 100px;
  }

  /*------------ FOOTER ------------*/
  .redes-sociais{
    margin-left: -30px;
  }

  .copy p{
    font-size: 0.687rem;
  }
  
}

/*----------------- 360px -----------------*/
@media only screen and (max-width: 360px) {

	/*--------- AGENDA ---------*/
	#agenda {
	  height: 100%;
	  margin-bottom: 30px;
	}
	
	#oradores{
		margin-top: 30px;
	}
	/*------------ FOOTER ------------*/
	.redes-sociais{
	  margin-left: -30px;
	}
 
	.copy p{
	  font-size: 0.687rem;
	}
	
 }